/* Color Theme Swatches in Hex */
$beige: #edc988;
$lightBrown: #bda06c;
$warmBrown: #a58c5f;
$brown: #8e7851;
$lightBlack: #766444;
$greyishBrown: #473c28;
$color1:#f8efd4;
$color2:#edc988;
$color3:#de4463;
$color4:#821752;